extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/Services
include mixins/home/landing/Projects
include mixins/home/landing/Contact
include mixins/home/landing/Footer
include mixins/home/landing/Goup

include Variables

prepend scripts
 
append content
	+HeroHeader
	+Services
	+Projects
	+Contact
	+Footer
	+Goup
