
mixin Goup
	//Back to Top
	a.btn.btn-primary.fs-3.fs-lg-5.rounded-circle.border-3.back-to-top(href="#")
		i(class="fa fa-arrow-up")

	//Back to Top
	a.btn.btn-primary.fs-3.fs-lg-5.rounded-circle.border-3.mini-cell(href="https://wa.me/56936776240", target="_blank")
		i(class="fab fa-whatsapp")


